:root {
    --header-height: 3rem;
    --side-width-close: 2rem;
    --side-width-open: 11rem;

    --color-dark: #1B1A19;
    -color-light: #DDD;
    --color-white: #FFF;
    --color-orange: #F7894A;

    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;

    --z-fixed: 100;
}

/* ===== Estilo Geral ===== */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
}

/* Move content based sidebar toggle */
#close-sidebar {
    margin-left: -8rem;
}

/* ==== Estilo da Main ==== */
.main {
    padding-left: calc(var(--side-width-close) + 5rem);
    padding-top: calc(var(--header-height) + 1.5rem);
    transition: 0.5s;
}

.title-page{
    margin: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
}


@media only screen and (min-width: 768px) {
    .main {
        padding-left: calc(var(--side-width-open) + 5rem);
    }
}